git+https://github.com/pyslackers/sir-bot-a-lot.git@12a1bc8ae6c5ed980bef3bef53f38be00ba362e1#egg=sir-bot-a-lot
git+https://github.com/pyslackers/sirbot-slack.git@5d1b4d1ebe63fc86e89a014c6fae7e9e460ab034#egg=sirbot.slack
git+https://github.com/pyslackers/sirbot-plugins.git@0cc0830b12efff2ef57a9bf3a5d1a82dab600ccc#egg=sirbot.plugins
