git+https://github.com/pyslackers/sir-bot-a-lot.git@c780be15d47fe27f6fec65be38c6d3d764f75449#egg=sir-bot-a-lot
git+https://github.com/pyslackers/sirbot-slack.git@a01b3ddf65067c1bc3717bea8a65a060fafb3f54#egg=sirbot.slack
git+https://github.com/pyslackers/sirbot-plugins.git@9d37c6d33a7269a09a0dd7d23641393b8b871c6e#egg=sirbot.plugins
